{% extends "layout.twig"%}

{% block title %}
    Page d'accueil
{% endblock %}

{% block body %}
    Le body.<br/>
    La valeur reçue est <strong>{{ val }}</strong><br/>
    <a href="/tuto3-twig/web/2e-page-twig">2e page twig</a>
{% endblock %}