{% extends "layout.twig" %}

{% block title %}Identification{% endblock %}

{% block body %}
<form action="">
    Login : <input name="login" type="text"/><br/>
    Pass : <input name="pass" type="password"/><br/>
    <input name="submit" type="submit" value="Valider"/><br/>
</form>
{% endblock %}